<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5G Network Testbed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="section" id="section1">{% include 'function1.html' %}</div>
    <div class="section" id="section2">{% include 'function2.html' %}</div>
    <div class="section" id="section3">{% include 'function3.html' %}</div>
    <div class="section" id="section4">{% include 'function4.html' %}</div>
    <div class="section" id="section5">{% include 'function5.html' %}</div>
</body>

</html>
